body{
    position: relative;
}
.justify-content{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}

.row-infor{
    margin: 2vh 2vw;
    background-color: rgb(178, 178, 178);
    padding: 30px 30px;
}

.main-wrapper{
    justify-items: center;
    background-color: antiquewhite;
}

.main-wrapper h1{
    border: solid red;
    padding: 2vw 2vh;
    margin: 20px;
    background-color: beige;
}