<nav class="nav" id="navbar">
    <ul class="nav-list">
      <li><a href="/html file/index.html">Trang chủ</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" onclick="toggleDropdown('dropdown-resources')">
          Tài nguyên Internet
        </a>
        <ul id="dropdown-resources" class="sub-menu">
          <li><a href="/html file/domainName.html">Tên miền .vn</a></li>
          <li><a href="/html file/ip-asn.html">IP/ASN</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" onclick="toggleDropdown('dropdown-infra')">
          Hạ tầng Internet
        </a>
        <ul id="dropdown-infra" class="sub-menu">
          <li><a href="/html file/vnix.html">Hệ thống VNIX</a></li>
          <li><a href="#">Hệ thống DNS</a></li>
        </ul>
      </li>
      <li><a href="/html file/i-speed.html">i-SPEED</a></li>
      <li><a href="/html file/dns-watch.html">DNS Watch</a></li>
      <li><a href="#">Về chúng tôi</a></li>
    </ul>
  </nav>
  